#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Trebuchet MS", Verdana, sans-serif;
}
header {
  flex: 0 0 75px;
  /*float: left;*/
  background-color: #303030;
}
main {
  flex: 1;
  display: flex;
  background-color: #d8d8d8;
}

.center {
  display: block;
  margin: 0 auto; 
}

.left {
  flex: 0 0 250px;
  background-color: #5b5b5b;
  margin: 0 auto; 
}
.right {
  flex: 0 0 250px;
  background-color: #ffffff;
}
.middle {
  flex:1 1 300px;
  padding: 10px;
}
#buttons {
  background-color: #000;
}

.menu {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px 3px 8px 3px;
}

.menu li {
  background-color: #0d69b2; 
  border: 1px solid #fff;
  border-radius:2px; 
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 3px;
  display: inline-block;
  width: 90%;
}

.brand {
  position: absolute;
  bottom: 0;
  width: 250px;
}

header img {
  height: 75px;
}

header input {
  width: 650px;
  padding: 5px;
  height: 25px;
  bottom: 23px;
  background-image: url('../img/magnifier.png');
  background-repeat: no-repeat;
  background-position: right;
  border: 1px solid #fff;
  border-radius:7px; 
  position: absolute;
  top: 30px;
 }

.logo {
  padding-top:  8px;
  left: 8px;
}

.icons {
  position: absolute;
  padding-top:  8px;
  right: 8px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
   color: yellow;
}