#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  flex: 0 0 75px;
  background-color: #303030;
}
main {
  flex: 1;
  display: flex;
  background-color: #d8d8d8;
}

.center {
  display: block;
  margin: 0 auto; 
}
/*
footer {
  flex: 0 0 40px;
  background-color: #C14F4F;
}
*/
.left {
  flex: 0 2 250px;
  background-color: #5b5b5b;
}
.right {
  flex: 0 2 250px;
  background-color: #ffffff;
}
.middle {
  flex:1 1 300px;
}
#buttons {
  background-color: #000;
}

#buttongroup {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px 3px 8px 3px;
}

button {
  background-color: #0d69b2; 
  border: 1px solid #fff;
  border-radius:2px; 
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
 
  width: 98%;
  margin-bottom: 3px;

}
